<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\NORTHWND.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.runtime.serialization>
      <dataContractSerializer>
        <declaredTypes>
          <add type="MyCompany.Library.Shape, 
                MyAssembly, Version=2.0.0.0, Culture=neutral,
                PublicKeyToken=XXXXXX, processorArchitecture=MSIL">
            <knownType type="MyCompany.Library.Circle, 
                         MyAssembly, Version=2.0.0.0, Culture=neutral,
                         PublicKeyToken=XXXXXX, processorArchitecture=MSIL"/>
          </add>
        </declaredTypes>
      </dataContractSerializer>
    </system.runtime.serialization>
</configuration>